{% extends "layouts/tools.html" %}

{% set pageName="Tools" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        
        
        
        <h2 class="govuk-heading-m">Work and tasks</h2>
        
        {{ govukSummaryList({
            rows: [
                {
                    key: { text: "Confluence" },
                    value: { text: "Cloud service for documentation alongside Jira" },
                    actions: {
                    items: [ { href: "#", text: "View", visuallyHiddenText: "name" } ] }
                },
                {
                    key: { text: "Jira" },
                    value: { text: "    Cloud service for managing projects and tracking work" },
                    actions: {
                    items: [ { href: "#", text: "View", visuallyHiddenText: "name" } ] }
                },
                {
                    key: { text: "Trello" },
                    value: { text: "Task and work management" },
                    actions: {
                    items: [ { href: "#", text: "View", visuallyHiddenText: "name" } ] }
                }
            ]
        }) }}
        
        
       
        
    {% include "/includes/wip.html"  %}
        
        
  </div>
          <div class="govuk-grid-column-one-third">    
           
             
           </div>
          </div>


{% endblock %}