<!-- <article class="mhclg-panel govuk-!-margin-top-9" aria-label="Sub navigation 1">
  <section class="mhclg-panel__content" aria-label="Section 1">
    <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-1">This design manual is a prototype and a work in progress</p>
    <p class="govuk-body govuk-!-font-size-16">If you have any questions, contact: </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
      <li><a href="#">Kate Harries</a> (content design)</li>  
      <li><a href="#">Brian Coult</a> (interaction design)</li>  
      <li><a href="#">Greg Winfield</a> (Head of UCD)</li>  
    </ul>  </section>
</article> -->



<div class="govuk-inset-text">
  
  <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-1">This design manual is a prototype and a work in progress</p>
  <p class="govuk-body govuk-!-font-size-16">If you have any questions, contact: </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li><a href="#">Kate Harries</a> (content design)</li>  
    <li><a href="#">Brian Coult</a> (interaction design)</li>  
    <li><a href="#">Greg Winfield</a> (Head of UCD)</li>  
  </ul>  
  
</div>