//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// Colours
$govuk-font-family: "Helvetica Neue", Arial, sans-serif;
$govuk-brand-colour: #00625e;
$govuk-link-colour: #00625e;
$govuk-link-visited-colour: #00625e;


$govuk-link-hover-colour:	#00625e;
$govuk-link-active-colour:	#0b0c0c;
$govuk-border-colour:	#b1b4b6	;
$govuk-input-border-colour:	#0b0c0c;


// Fonts
.govuk-heading-xl,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-caption-xl,
.govuk-caption-l,
.govuk-caption-m,
.govuk-body-l,
.govuk-link,a,
.govuk-list,
.govuk-body,.govuk-body-m,p,
.govuk-body-s,
.govuk-body-xs,
.govuk-button-group .govuk-link,
.govuk-back-link,
.govuk-breadcrumbs,
.govuk-breadcrumbs__link,
.govuk-button,
.govuk-error-message,
.govuk-hint,
.govuk-label,
.govuk-textarea,
.govuk-fieldset__legend,
.govuk-checkboxes__divider,
.govuk-input,
.govuk-input__prefix,.govuk-input__suffix,
.govuk-details,
.govuk-error-summary,
.govuk-error-summary__list a,
.govuk-file-upload,
.govuk-footer,
.govuk-footer__link,
.govuk-header,
.govuk-header__menu-button,
.govuk-inset-text,
.govuk-notification-banner,
.govuk-notification-banner__link ,
.govuk-pagination__item,.govuk-pagination__next,.govuk-pagination__prev,
.govuk-panel,
.govuk-tag,
.govuk-phase-banner__content,
.govuk-radios__divider,
.govuk-select,
.govuk-summary-list,
.govuk-summary-card__title,
.govuk-table,
.govuk-tabs,
.govuk-tabs__tab,
.govuk-task-list,
.govuk-warning-text, {
	// font-family: "Helvetica Neue", Arial, sans-serif;
}

// X-Gov Component
.x-govuk-masthead__title,
.x-govuk-masthead__description,
.govuk-service-navigation__link {
	// font-family: "Helvetica Neue", Arial, sans-serif;	
}

.x-govuk-masthead {
	background-color: $govuk-brand-colour;
}


.grey {
	background-color: #dedede;    
}

.govuk-header {
	border-bottom: 0;
}  

.govuk-header__container {
 	border-bottom: 10px solid $govuk-brand-colour;
}
  
.app-header--no-border {
	border-bottom: 0;	  
}

a:visited, .govuk-link:visited {
	color: $govuk-link-visited-colour	
}

a:link, .govuk-link:link {
	color: $govuk-link-visited-colour	
}

.govuk-service-navigation__link:not(:hover):not(:focus) {
	color: $govuk-link-visited-colour	
}

.govuk-service-navigation__link:visited {
	color: $govuk-link-visited-colour	
}



.mhclg-panel {
	display: block;
	margin-right: 0;
	flex-wrap: wrap;
}


.mhclg-panel__content {
	display: block;
	position: relative;
	background-color: #f3f2f1;
	padding: 20px;    
	margin-bottom: 15px;
	flex-grow: 1;
	border-left: 10px solid $govuk-brand-colour;
}


.mhclg-panel__content--blue {
	border-left-color: #1d70b8;
}


.mhclg-panel__content--orange {
	border-left-color: #f47738;
}

.mhclg-panel__content--turquiose {
	border-left-color: #28a197;
}


.mhclg-panel__content--purple {
	border-left-color: #912b88;
}


.mhclg-panel__content--brown {
	border-left-color: #b58840;
}


.mhclg-panel__content--green {
	border-left-color: #00703c;
}

.mhclg-panel__content--pink {
	border-left-color: #d53880;
}

.mhclg-panel__content--lightgreen {
	border-left-color: #85994b;
}

.mhclg-panel__content--lightblue {
	border-left-color: #5694ca;
}


.govuk-service-navigation__item, .govuk-service-navigation__service-name {
	border-color: $govuk-link-visited-colour	
}

