{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <h1 class="govuk-heading-xl">Our services</h1>
    <p class="govuk-body">Standards, guidance, and principles for the design of digital services in the Ministry of Housing, Communities and Local Government.


    <p class="govuk-body"><a class="govuk-link" href="www.bbc.co.uk" >Testing links</a></p>


<!-- <h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Style guide</a>
</h3>
<p class="govuk-body">The MHCLG style guide includes words used across multiple teams and services that are not included in the GDS style guide.</p>

        <h3 class="govuk-heading-m">
    <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Design standards</a>
</h3>
<p>How we maintain a consistent approach to designing for digital services. </p>

 -->


<div class="govuk-inset-text govuk-!-margin-top-7">
  <p class="govuk-body govuk-!-font-size-16 govuk-!-font-weight-bold govuk-!-margin-bottom-1">This design manual is a prototype and a work in progress</p>
  <p class="govuk-body govuk-!-font-size-16">If you have any questions, contact: Kate Harries (content design), Brian Coult (interaction design), Greg Winfield (Head of UCD).</p>
</div>
 


</div>



{% endblock %}
