{% extends "layouts/design_system.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <!-- <h1 class="govuk-heading-xl">Design System</h1>
    <p class="govuk-body">The MHCLG style guide includes words used across multiple teams and services that are not included in the GDS style guide.</p>

 -->
    



  </div>
 <div class="govuk-grid-column-one-third">    
  
    {% include "/includes/wip.html"  %}
  </div>
 </div>




{% endblock %}
