{% extends "layouts/design_system.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">    
      
      

    <!-- <h1 class="govuk-heading-xl">Design System</h1>
    <p class="govuk-body">The MHCLG style guide includes words used across multiple teams and services that are not included in the GDS style guide.</p>

 -->
    <h2 class="govuk-heading-l">Colour palette</h2>
    <p>Make sure that colour combinations are of sufficient contrast to meet accessibility standards.</p>
  
    <h3 class="govuk-heading-m">Primary colour palette</h3>
    <p>These are the only colours that our logo should appear in. This is because we are building recognition through repetition. All communications from the department need to use these as the main accent colours.</p>
    
    
    <table class="govuk-body app-colour-list" summary="Table of main colours">
        <tbody>
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#00625E"></span>
                    <code>MHCLG Teal</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#00625E</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#000000"></span>
                    <code>Black</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#000000</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#ffffff"></span>
                    <code>White</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#ffffff</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
        </tbody>
    </table>
    
    <h3 class="govuk-heading-m">Core identity secondary colours (dark)</h3>
    
    <p>The secondary colour palette is made up of two sets of colours (darks and brights) to give a wider selection of use. These colours should be used to support the primary palette and create different levels of signposting where needed. </p>
    
    <p>All dark colours are fully accessible to use for text colour.</p>
    
    <table class="govuk-body app-colour-list" summary="Table of main colours">
        <tbody>
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#932A72"></span>
                    <code>Pink</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#932A72</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#85292A"></span>
                    <code>Red</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#85292A</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#BF4A1D"></span>
                    <code>Orange</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#BF4A1D</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#40611f"></span>
                    <code>Green</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#40611f</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#205083"></span>
                    <code>Blue</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#205083</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#333366"></span>
                    <code>Indigo</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#333366</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#535453"></span>
                    <code>Grey</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#535453</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
        </tbody>
    </table>
    
    
    <h3 class="govuk-heading-m">Core identity secondary colours (bright)</h3>
    
    <p>The bright colours are all accessible to use for background colours and graphics.</p>
    
    
    <table class="govuk-body app-colour-list" summary="Table of main colours">
        <tbody>
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#FF5D88"></span>
                    <code>Bright pink</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#FF5D88</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#DC3230"></span>
                    <code>Bright red</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#DC3230</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#FAA332"></span>
                    <code>Bright orange</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#FAA332</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#98B83C"></span>
                    <code>Bright green</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#98B83C</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#08B2D5"></span>
                    <code>Bright blue</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#08B2D5</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#8687C1"></span>
                    <code>Bright indigo</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#8687C1</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
            
            <tr class="app-colour-list-row">
                <th class="app-colour-list-column app-colour-list-column--name" scope="row">
                    <span class="app-swatch " style="background-color:#99988F"></span>
                    <code>Bright grey</code>
                </th>
                <td class="app-colour-list-column app-colour-list-column--colour"><code>#99988F</code></td>
                <td class="app-colour-list-column app-colour-list-column--notes"></td>
            </tr>
        </tbody>
    </table>


    {% include "/includes/wip.html"  %}
  </div>
 <div class="govuk-grid-column-one-third">    
  
 
  

  </div>
 </div>




{% endblock %}
