{% extends "layouts/design_system.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row govuk-!-margin-top-3">
  <div class="govuk-grid-column-two-thirds">    
      
      

    <!-- <h1 class="govuk-heading-xl">Design System</h1>
    <p class="govuk-body">The MHCLG style guide includes words used across multiple teams and services that are not included in the GDS style guide.</p>

 -->
    <h2 class="govuk-heading-l">Logo</h2>
    <p>Make sure that colour combinations are of sufficient contrast to meet accessibility standards.</p>
  
    

    {% include "/includes/wip.html"  %}
  </div>
 <div class="govuk-grid-column-one-third">    
  
 
  

  </div>
 </div>




{% endblock %}
