{% extends "layouts/community.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    
    
    <p>We are a community who lead on design and accessibility for design acoss the department and support the following professions.</p>
    <p>We set aside XXXXXX to come together as a community. With weekly meetups at 1pm covering things like workshops, show and tells, learning and development or speaker sessions.</p>
    
    <p>We've recently run meetups around:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>giving and receiveing feedback</li>
    <li>accessibility in design</li>
    <li>measuring design</li>
    <li>standards and assurance</li>
    </ul>
    <p>We occasionally hold cross-profession meetups where we join up with another community such as user research, product or delivery communities.</p>
    
    <p>Our communities of practice are open to anyone in the Ministry of Housing, Communities and Local Government, including contractors.</p>
    

{% include "/includes/wip.html"  %}

  </div>
  <div class="govuk-grid-column-one-third">    
   
     
   </div>
  </div>




{% endblock %}
