{% extends "layouts/standards.html" %}

{% set pageName="Home" %}
{% set selected = "design" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    
    <h2 class="govuk-heading-m">Designing - prototyping</h2>
    <p>Guides to help you get started with the design system and to design, build, and test your products.</p>
      
      
    
      
    {% include "/includes/wip.html"  %}
</div>
<div class="govuk-grid-column-one-third">    
 
   
 </div>
</div>
 



{% endblock %}
