{% extends "layouts/standards.html" %}

{% set pageName="Home" %}
{% set selected = "content" %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <h2 class="govuk-heading-m">Content design</h2>
    <p>Our content standards are for anyone creating content for the MHLCG. The standards help us to make things clear and consistent across all of our digital services. </p>

    <p>We are currently working on defining and publishing the standards within our user centred design community. The standards will include: </p>
    <ul class="govuk-body">
      <li>A to Z style guide</li>
      <li>tone of voice</li>
      <li>MHCLG glossary</li>
      <li>how to write emails</li>
      <li>types of content we publish</li>
      <li>how to get content reviewed</li>
      <li>content strategy</li>
    </ul>

    <p>Our standards are designed to build on and compliment the <a href="https://www.gov.uk/guidance/content-design">existing GDS content standards</a>. We will continue to refer to those standards when designing our digital services. </p>
    
          
    {% include "/includes/wip.html"  %}
</div>
<div class="govuk-grid-column-one-third">    
 
   
 </div>
</div>
 



{% endblock %}
