{% extends "layouts/standards.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <h2 class="govuk-heading-m">Content design</h2>
    <p>Our content standards and guidance for tone of voice, the words we use, and writing content strategies for services.</p>
    
    
    
    <h2 class="govuk-heading-m">Designing - prototyping</h2>
    <p>Guides to help you get started with the design system and to design, build, and test your products.</p>
    
      
    <h2 class="govuk-heading-m">  Keep up to date</h2>
    <p>We write about, and share as much as we can, in the open. You can find out more about what we're doing on the following channels:</p>
      
      
    
      
    {% include "/includes/wip.html"  %}
</div>
<div class="govuk-grid-column-one-third">    
 
   <!-- {% include "/includes/wip.html"  %} -->
 </div>
</div>
 



{% endblock %}
