{% extends "layouts/standards.html" %}

{% set pageName="Home" %}
{% set selected = "keep" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    


    <h2 class="govuk-heading-m">  Keep up to date</h2>
    <p>We write about, and share as much as we can, in the open. You can find out more about what we're doing on the following channels:</p>
      
      
    
      
    {% include "/includes/wip.html"  %}
</div>
<div class="govuk-grid-column-one-third">    
 
   
 </div>
</div>
 



{% endblock %}
