{% extends "layouts/standards.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <h2 class="govuk-heading-m">User research</h2>
    <p>Our content standards and guidance for tone of voice, the words we use, and writing content strategies for services.</p>
    
    
   
    
      
    {% include "/includes/wip.html"  %}
</div>
<div class="govuk-grid-column-one-third">    
 
   <!-- {% include "/includes/wip.html"  %} -->
 </div>
</div>
 



{% endblock %}
