{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    

    <!-- <h1 class="govuk-heading-xl">Guidance and resources</h1>
    <p class="govuk-body">Standards, guidance, and principles for the design of digital services in the Ministry of Housing, Communities and Local Government.


    <p class="govuk-body"><a class="govuk-link" href="www.bbc.co.uk" >Testing links</a></p> -->



    <article class="mhclg-panel govuk-!-margin-top-5" aria-label="Sub navigation 1">
        <section class="mhclg-panel__content" aria-label="Section 1">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Did you know?</h2>
            <p class="govuk-body">You can now help yourself using our new self-serve forms, to <a href="#">do this</a> or <a href="#">to do that</a>.</p>
            <p>This style of form helps you manage fund reports faster and better.</p>                                                
        </section>
    </article>
    
{% include "/includes/wip.html"  %}
 


</div>



{% endblock %}
