{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

<header class="govuk-header app-header--no-border" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container">
		<div class="govuk-header__logo">
			<a href="/" class="govuk-header__link govuk-header__link--homepage"><img src="/public/images/MHCLG_WHITE_LANDSCP_AW.png" height="30px"></a>
		</div>
	</div>
</header>

{{ xGovukMasthead({  
	classes: "x-govuk-masthead–large",  
	title: { text: "Design manual" },
	description: { text: "Standards, guidance and resources for anyone working on digital services and communications at the Ministry of Housing, Communities and Local Government." },
	image: { src: "/public/images/manual_design.png" }
}) }}

{{ govukServiceNavigation({
  navigation: [
	{ href: "/", text: "Home" },
	{ href: "/standards/", text: "Standards" },
	{ href: "/design-system/", text: "Design System" },
	{ href: "/design-history/", text: "Design history" },
	{ href: "/community/", text: "Community", active: true },
	{ href: "/our-services/", text: "Our services" },
	{ href: "/tools/", text: "Tools" }
  ]
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large grey">
	<div class="govuk-width-container">		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">					
				<div class="govuk-grid-row govuk-!-padding-top-5 grey">
					<div class="govuk-grid-column-two-thirds">        
						<h2 class="govuk-heading-l govuk-!-margin-bottom-5">Community</h2>         
						<p class="govuk-body govuk-!-margin-bottom-5">Our communities of practice come together to share work, develop skills and capability across the design profession.</p>             											
					</div>    						
				</div>					
			</div>                     
		</div>			  
	</div>
</div>

<!-- <div class="x-govuk-masthead x-govuk-masthead--large">
	<div class="govuk-width-container">	


		{{ xGovukSecondaryNavigation({
  visuallyHiddenTitle: "Secondary menu",
  items: [{
	text: "Colour palette",
	href: "/design-system/",
	current: true
  }, 
  {
	text: "Logo",
	href: "/design-system/logo"
  }, 
  {
	text: "Typography",
	href: "/design-system/typography"
  }]
}) }}

	</div>
</div> -->

{% endblock %}


