{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

<header class="govuk-header app-header--no-border" data-module="govuk-header">
	<div class="govuk-header__container govuk-width-container">
		<div class="govuk-header__logo">
	    	<a href="/" class="govuk-header__link govuk-header__link--homepage"><img src="/public/images/MHCLG_WHITE_LANDSCP_AW.png" height="30px"></a>
		</div>
	</div>
</header>

{{ xGovukMasthead({  
	classes: "x-govuk-masthead–large",  
    title: { text: "Design manual" },
    description: { text: "Standards, guidance and resources for anyone working on digital services and communications at the Ministry of Housing, Communities and Local Government." },
    image: { src: "/public/images/manual_design.png" }
}) }}

{{ govukServiceNavigation({
  navigation: [
	{ href: "/", text: "Home" },	
	{ href: "/design-system/", text: "Design System", active: true },
	{ href: "/standards/", text: "Standards" },
	{ href: "/design-history/", text: "Design history" },
	{ href: "/community/", text: "Community"	},
	{ href: "/our-services/", text: "Our services" },
	{ href: "/tools/", text: "Tools" }
  ]
}) }}

<div class="x-govuk-masthead x-govuk-masthead--large grey">
	<div class="govuk-width-container">		
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">					
				<div class="govuk-grid-row govuk-!-padding-top-5 grey">
					<div class="govuk-grid-column-two-thirds">        
						<h2 class="govuk-heading-l govuk-!-margin-bottom-5">Design System</h2>         
						<p class="govuk-body govuk-!-margin-bottom-5">The MHLCG Design System is for anyone working on digital services across the department. It includes guidance that's not in the <a href="https://design-system.service.gov.uk">GDS Design System</a>. We design in the open to share ideas and avoid duplication. </p>             											
					</div>    						
				</div>					
			</div>                     
		</div>			  
	</div>
</div>

<div class="x-govuk-masthead x-govuk-masthead--large">
	<div class="govuk-width-container">	

		<nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
			<ul class="x-govuk-secondary-navigation__list">
				<li class="x-govuk-secondary-navigation__list-item {{ "x-govuk-secondary-navigation__list-item--current" if selected=="palette" }} "><a class="x-govuk-secondary-navigation__link" href="/design-system/" aria-current=page>Colour palette</a></li>
				<li class="x-govuk-secondary-navigation__list-item {{ "x-govuk-secondary-navigation__list-item--current" if selected=="logo" }} "><a class="x-govuk-secondary-navigation__link" href="/design-system/logo">Logo</a></li>
				<li class="x-govuk-secondary-navigation__list-item {{ "x-govuk-secondary-navigation__list-item--current" if selected=="typography" }}"><a class="x-govuk-secondary-navigation__link" href="/design-system/typography">Typography</a></li>
				<li class="x-govuk-secondary-navigation__list-item {{ "x-govuk-secondary-navigation__list-item--current" if selected=="patterns" }}"><a class="x-govuk-secondary-navigation__link" href="/design-system/patterns">Patterns</a></li>					
			</ul>
		</nav>

	</div>
</div>

{% endblock %}