{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{{ govukHeader({
	classes: "app-header–no-border"
}) }}




{{ xGovukMasthead({  
  classes: "x-govuk-masthead–large",  
  title: {
	text: "Design manual"
  },
  description: {
	text: "Standards, guidance and resources for anyone working  on digital services and communications at the Ministry of Housing, Communities and Local Government."
  }
  
}) }}


{{ govukServiceNavigation({
  navigation: [
	{
	  href: "/",
	  text: "Home",
	  active: true
	},
	{
	  href: "/standards/",
	  text: "Standards"
	  
	},
	{
	  href: "/design-system/",
	  text: "Design System"
	},
	{
	  href: "/design-history/",
	  text: "Design history"
	},
	{
	  href: "/community/",
	  text: "Community"
	},
	{
	  href: "/our-services/",
	  text: "Our services"
	},
	{
	  href: "/tools/",
	  text: "Tools"
	}
  ]
}) }}
{% endblock %}